body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url(1600w-GyLQ4rd9Hig.webp);
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    background: rgb(201, 221, 219);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2rem;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

